.three {
    		    width: 210px;
			    border-bottom: solid 1px #316a91;
			    margin: 40px auto 0 auto;
        	}
        	.three * {
        		margin: 0;
        		padding: 0;
        	}
        	.three  ul{
        		list-style: none;
                padding-left:0;
        	}
        	.three ul  li {
    		    background-color: #467ca2;
			    border: solid 1px #316a91;
			    border-bottom: 0;
        	}
        	.three ul li a{
        		padding-left: 10px;
			    color: #fff;
			    font-size: 12px;
			    display: block;
			    font-weight: bold;
			    height: 36px;
			    line-height: 36px;
			    position: relative;
        	}
        	.three .ul0 li {
    		    border-left: 0;
			    border-right: 0;
			    background-color: #6196bb;
			    border-color: #467ca2;
        	}
        	.three .ul0 li a {
        		padding-left: 20px;
        	}
        	.three .ul1 li {
    		    background-color: #467ca2;
			    border: solid 1px #316a91;
			    border-bottom: 0;
        	}
        	.three .ul1 li a {
        		padding-left: 20px;
        	}
            .three .ul0 .open ul {
                display: block;
            }
            .three  .ul0  ul {
                display: none;
            }
