@font-face {
	font-family: Iconicons;
	src:url("../font/ionicons.ttf");
	font-weight: normal;
 	font-style: normal;
}
.three ul {
	margin-bottom:0;
	padding-left: 10px;
	list-style:none;
}
.three ul li {
	position: relative;
	display: block;
}
.three ul li a  {
	background-color: #f9f9f9;
	border-color: transparent;
	border-left: 3px solid transparent;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 24px;
	padding-left: 52.99999px;
	color: inherit;
	font-weight: 500;
	position: relative;
	display: block;
	outline: 0;
}
.three ul li .submenu:after {
	position: absolute;
	top: 50%;
	right: 24px;
	font-family: Iconicons;
	font-size: 17px;
	content:"\f489";
	transform: translate(50%, -50%);
}
.three .ul0 .open ul {
                display: block;
            }
            .three  .ul0  ul {
                display: none;
            }
.three .open > .submenu:after {
	content: "\f462";
}
.three ul li a i{
	position: absolute;
	left: 21px;
	font-size: 1.25em;
	line-height: 1.25;
}

